<h2>Registro</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :nombre %>
  <%= f.text_field :nombre %></div>

  <div><%= f.label :apellido %>
  <%= f.text_field :apellido %></div>

  <div><%= f.label :telefono %>
  <%= f.text_field :telefono %></div>

  <div><%= f.label :ciudad %>
  <%= f.number_field :ciudad_id %></div>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirmar Password" %>
  <%= f.password_field :password_confirmation %></div>

  <br/>
  <div><%= f.submit "Registro" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
