	<br/>
	<table>
	  <tr>
	    <th>Nombre</th>
	    <th>Curso</th>
	    <th></th>
	    <th></th>
	    <th></th>
	  </tr>

	<% @maestros.each do |maestro| %>
	  <tr>
	    <td><%= maestro.nombre %></td>
	    <td><%= maestro.cargo_descripcion %></td>
	    <td><%= link_to 'Show', maestro %></td>
	    <td><%= link_to 'Edit', edit_maestro_path(maestro) %></td>
	    <td><%= link_to 'Destroy', maestro, confirm: 'Are you sure?', method: :delete %></td>
	  </tr>
	<% end %>
	</table>