<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @curso.descripcion %>
</p>

<table>
  <tr>
    <th>Nombre</th>
  </tr>

<% @alumnos.each do |alumno| %>
  <tr>
    <td><%= alumno.nombre %></td>
  </tr>
<% end %>
</table>

<%= link_to 'Edit', edit_curso_path(@curso) %> |
<%= link_to 'Back', cursos_path %>
